<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='Frontpage/login/login.css')}}">
    </head>

    <body>

        <nav class="navbar">
            <div class="navlogo"></div>
        </nav>

        <div class="login-box">

            <h1>LOGIN</h1>
            <form method="POST">
                <input name="username" placeholder="Username">
                <input name="password" type="password" placeholder="Password">
                <button>Login</button>
                <h3 id="error"></h3>
            </form>
            <div class="login-logo"></div>
            <a href="register">Havent Signed up yet?</a>
        </div>

    </body>
</html>